//sass --watch ./scss/main.scss ./docs/css/stylesheet.css
//^^ sass compiler command

// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Customizations to defaults

$primary-rgb: rgb(0, 153, 255);
$nav-pills-link-active-bg: white;
$nav-pills-link-active-color: black;
$nav-link-color: white;
$nav-link-hover-color: black;
$nav-link-hover-bg: white;
$dropdown-link-hover-bg: white;
$dropdown-link-hover-color: black;
$dropdown-link-active-bg: white;
$dropdown-link-active-color: black;

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";

@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar"; // Requires nav
@import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/accordion";
// @import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal"; // Requires transitions
// @import "../node_modules/bootstrap/scss/tooltip";
// @import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
// @import "../node_modules/bootstrap/scss/spinners";
// @import "../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";


//
// Custom styles
//

/* Global CSS */

    p {
        text-indent: 3.5em;
    }
    p:first-of-type {
        text-indent: 0;
    }
    h1 {
        font-size: 2.1em;
    }

    .svg {
        max-height: 1.25em;
        vertical-align: top;
        padding-left: 1em;
    }

/* Opening-card-related CSS */

    .opening-card-background {
        backdrop-filter: blur(0px); /* This fixes a white line appearing on
        the right side of a div with a box shadow and a background image
        if there is no parent element resizing it and the width is defined in the element.
        Credit: Regular Jo via https://stackoverflow.com/a/65753827 */
        height: 75vw;
        box-shadow: 0 0 1.6vw 1.3vw black inset;
    }
    .Opening-card-fade {
        background: rgb(0, 0, 0);
        background: (rgba(0, 0, 0, 0.14));
    }
    @include media-breakpoint-up(md) {
        .Opening-card-fade {
            background: rgb(0, 0, 0);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 40%, rgb(0, 0, 0, 1) 61%);
        }
    }
    .Opening-card-text-block {
        width: 90%;
        left: 5%;
        top: 66.6666666666667%;
        background: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.888);
    }
    .Opening-card-text-block p {
        margin: 0;
        font-size: 3vw;
        font-family: monospace;
    }
    .portfolio-image {
        background: url(../content/Portrait.png) no-repeat;
        background-size: 100%;
    }
    .webserver-image {
        background: url(../content/mario64opening.png) no-repeat;
        background-size: 100%;
    }
    .bio-image {
        background: url(../content/Portrait.png) no-repeat;
        background-size: 100%;
    }
    .AI-image {
        background: url(../content/AI-project.png) no-repeat;
        background-size: 200%;
    }
    .Hobbies-image {
        background: url(../content/bassplaying.png) no-repeat;
        background-size: 100%;
    }

/* Nav-bar-related css. */

    .nav-link:hover, .nav-link:focus {
        background-color: white;
    }
    nav a {
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

/* Portfolio page-specific css. */

    div.portfolio-project {
        float: left;
        width: 33.3%;
    }

    div.portfolio-project img {
        width: 100%;
        padding: 1.111em;
        padding-bottom: 0;
    }

    div.portfolio-project a {
        visibility: hidden;
        width: inherit;
    }

    h4.portfolio-project-AI{
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1.111em;
        padding-right: 1.111em;
    }

    h4.portfolio-project-AI a img {
        visibility: visible;
        position: relative;
        float: right;
        top: -0.5em;
        height: 2em;
        width: auto;
        padding: 0;
    }

    h4.portfolio-project-Esports{
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1.111em;
        padding-right: 1.111em;
    }

    h4.portfolio-project-Esports a img {
        visibility: visible;
        position: relative;
        float: right;
        height: 3.5em;
        width: auto;
        top: -1.1em;
        padding: 0;
    }

    h4.portfolio-project-wall-calculator{
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1.111em;
        padding-right: 1.111em;
    }

    h4.portfolio-project-wall-calculator a img {
        position: relative;
        visibility: visible;
        float: right;
        height: 2em;
        width: auto;
        top: -0.5em;
        padding: 0;
        padding-left: 0.55em;
    }

    h4.portfolio-project-portfolio-website{
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1.111em;
        padding-right: 1.111em;
    }

    h4.portfolio-project-portfolio-website a img {
        position: relative;
        visibility: visible;
        float: right;
        height: 2em;
        width: auto;
        top: -0.5em;
        padding: 0;
        padding-left: 0.55em;
    }

    div.portfolio-project p {
        font-size: 1em;
        padding: 1.111em;
        padding-top: 0;
        padding-bottom: 0.25em;
        margin: 0;
    }

/* Bio page-specific css. */

    h3.bio {
        font-size: 1em;
    }

    p.bio {
        float: left;
        margin: 0;
        font-size: 1em;
        }

    div.career-container {
        float: left;
        width: 100%;
        margin: 1.5em 0;
    }

    /* Education-timeline css. */

        section.education-timeline {
            position: relative;
            float: left;
            width: 33.34em;
            height: 33.34em;
            margin: 0;
            margin-bottom: 1.5em;
            font-size: 1em;
        }

        section.education-timeline::after {
            content: '';
            position: absolute;
            width: 0.111em;
            min-width: 2.96px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 23.12em;
        }

        h4.education{
            width: 20em;
        }

        div.education-container {
            position: relative;
            float: left;
            margin-top: 1em;
            width: 20em;
        }

        div.education-container p {
            text-indent: 0;
        }

        div.dates-education {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 9em;
            left: 23.12em;
        }

        div.August-2019-education {
            bottom: 5%;
        }

        div.June-2022-education {
            height: 40%;
        }

        div.August-2022-education {
            bottom: 50%;
        }

        div.June-2026-education {
            top: 0;
        }

        div.dates-education p {
            position: relative;
            margin: 0;
            padding: 0;
            text-align: right;
            line-height: 1em;
            text-indent: 0;
        }

        div.dates-education::before {
            content: '';
            position: absolute;
            width: 0.111em;
            min-width: 2.96px;
            background: top rgb(0, 153, 255);
            top: 0;
            bottom: 0.5em;
            left: 0em;
            z-index: 2;
        }

        div.dates-education p::before {
            content: '';
            position: absolute;
            width: 0.834em;
            height: 0.834em;
            left: -0.44em;
            background-color: rgb(0, 153, 255);
            border: 0.111em solid #ffffff;
            border-radius: 0.55em;
            z-index: 3;
        }

    div.Education-info {
        position: relative;
        float: right;
        width: 33.34em;
        font-size: 1em;
    }

    div.Work-info {
        position: relative;
        clear: left;
        float: left;
        width: 33.34em;
        font-size: 1em;
    }

    /* Work-timeline css. */

        section.work-timeline {
            position: relative;
            float: right;
            clear: right;
            width: 33.34em;
            height: 66.68em;
            margin: 0 0;
            margin-top: 1.5em;
            font-size: 1em;
        }

        section.work-timeline::before {
            content: '';
            position: absolute;
            width: 0.1111em;
            min-width: 2.96px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            top: 0;
            bottom: 0;
            right: 26.96em;
        }

        h4.career{
            position: relative;
            float: right;
            width: 13.5em;
        }

        div.work-container {
            position: relative;
            float: right;
            margin-top: 1em;
            width: 20em;
        }

        div.work-container p {
            text-indent: 0;
        }

        div.work-container h4 {
            text-wrap: nowrap;
        }

        div.dates {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 9em;
            left: -3.4em;
        }

        div.June-2018 {
            bottom: 8%;
        }

        div.June-2019 {
            bottom: 28.6%;
        }

        div.July-2019 {
            height: 5%;
        }

        div.July-2019_2 {
            bottom: 32.11%;
        }

        div.August-2019 {
            height: 5%;
        }       

        div.May-2022 {
            bottom: 65%;
        }

        div.August-2022 {
            height: 20%;
        }

        div.dates p {
            position: relative;
            bottom: 0.25em;
            margin: 0;
            text-align: left;
            text-indent: 0;
            line-height: 1em;
        }

        div.dates::after {
            content: '';
            position: absolute;
            width: 0.111em;
            min-width: 2.96px;
            background: top rgb(0, 153, 255);
            left: 9.595em;
            top: 0;
            bottom: 0.5em;
            z-index: 2;
        }

        div.dates p::after {
            content: '';
            position: absolute;
            width: 0.834em;
            height: 0.834em;
            right: -1.18em;
            top: 0.25em;
            background-color: rgb(0, 153, 255);
            border: 0.11em solid #ffffff;
            border-radius: 0.55em;
            z-index: 3;
        }

    p.bio a {
        color: rgb(0, 153, 255);
    }

    p.bio a:hover {
        color: #ffffff;
    }

/* Hobbies page-specific css */

    h3.hobbies {
        font-size: 0.95em;
    }

    h4.hobbies {
        font-size: 0.95em;
    }

    div.info-hobby-left {
        float: left;
        width: 35%;
        padding: 0.5em 1em 0.5em 0;
    }

    div.container {
        position: relative;
        float: left;
        width: 100%;
        padding: 0.5em;
        border: 0.1em solid #aaa;
        z-index: 1;        
    }

    h4.info-hobby-left-title {
        margin: 0.5em 0 1em 0;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        font-size: 0.9em;
    }

    p.info-hobby-left-text {
        padding: 0;
        text-align: left;
        font-size: 0.9em;
        line-height: 1.4em;
    }

/* Footer CSS */

    footer {
        position: relative;;
        float: left;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.5em 1.5em;
        padding-top: 3.3em;
        margin-top: 1.111em;
        border-top: 0.1em inset #ffffff;
    }

    address {
        padding-top: 1.111em;
        float: left;
        width: fit-content;
    }

    footer p {
        text-indent: 0;
    }

    footer a {
        color: #ffffff;
    }

    footer a:hover {
        color: rgb(0, 153, 255);
    }
            
    footer nav {
        left: 0%;
        width: 100%;
        top: 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.57em;
    }

    footer nav h2 {
        margin: 0;
        line-height: 1.32em;
    }

    footer nav a {
        padding: 1.111em;
    }

    footer nav a:hover {
        display: inline;
        background-color: white;
        color: black;
    }