//sass --watch ./scss/main.scss ./docs/css/stylesheet.css
//^^ sass compiler command
// Functions first
@import "../node_modules/bootstrap/scss/functions";
// Customizations to defaults
$primary-rgb: rgb(0, 153, 255);
$nav-pills-link-active-bg: white;
$nav-pills-link-active-color: black;
$nav-link-color: white;
$nav-link-hover-color: black;
$nav-link-hover-bg: white;
$dropdown-link-hover-bg: white;
$dropdown-link-hover-color: black;
$dropdown-link-active-bg: white;
$dropdown-link-active-color: black;
// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
// Modules
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar"; // Requires nav
@import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/accordion";
// @import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal"; // Requires transitions
// @import "../node_modules/bootstrap/scss/tooltip";
// @import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel";
// @import "../node_modules/bootstrap/scss/spinners";
// @import "../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @import "../node_modules/bootstrap/scss/placeholders";
// Helpers
@import "../node_modules/bootstrap/scss/helpers";
// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";
/* Global CSS */
    h1 {
        font-size: 2.1em;
    }
    .svg {
        max-height: 1.25em;
        vertical-align: top;
        padding-left: 1em;
    }
    hr {
        opacity: 75%;
    }
/* Opening-card-related CSS */
    .opening-card-background {
        backdrop-filter: blur(0px); /* This fixes a white line appearing on
        the right side of a div with a box shadow and a background image
        if there is no parent element resizing it and the width is defined in the element.
        Credit: Regular Jo via https://stackoverflow.com/a/65753827 */
        height: 85vw;
        max-height: 650px;
        box-shadow: 0 0 1.3vw 1.6vw black inset;
    }
    .Opening-card-fade-50, .Opening-card-fade-60, .Opening-card-fade-80 {
        background: rgb(0, 0, 0);
        background: (rgba(0, 0, 0, 0.14));
    }
    .Opening-card-text-block {
        width: 90%;
        left: 5%;
        top: 60%;
        background: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.888);
    }
    .Opening-card-text-block p {
        margin: 0;
        font-size: 3.5vw;
        font-family: monospace;
    }
    .portfolio-image {
        background: url(../content/Portrait.png) no-repeat;
        background-size: 100%;
    }
    .bio-image {
        background: url(../content/Working.png) no-repeat;
        background-size: 100%;
    }
    .webserver-image {
        background: url(../content/mario64opening.png) no-repeat;
        background-size: 100%;
    }
    .AI-image {
        background: url(../content/AI-project.png) no-repeat;
        background-size: 200%;
    }
    .Hobbies-image {
        background: url(../content/bassplaying.png) no-repeat;
        background-size: 100%;
    }
/* Nav-bar-related css. */
    .nav-link:hover, .nav-link:focus {
        background-color: white;
    }
    nav a {
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .portfolio-card-image {
        max-height: 11em;
    }
/* Bio page-specific css. */
    /* Timeline CSS */
    .timeline h4 {
        font-size: 2em;
    }
    .timeline::after {
        content: '';
        position: absolute;
        min-width: 3px;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 70%;
    }
    .timeline-container {
        width: 60%;
        position: absolute;
    }
    .dates {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc( 1/3 * 100% );
        left: 70%;
    }
    .dates p {
        text-wrap: nowrap;
        padding-left: 4vw;
        font-size: 0.9em;
        line-height: 0.9em;
        margin: 0;
    }
    .dates::before {
        content: '';
        position: absolute;
        width: 0.111em;
        min-width: 3px;
        background: top var(--bs-primary);
        top: 0;
        bottom: 0.5em;
        left: 0em;
        z-index: 2;
    }
    .dates p::before {
        content: '';
        position: absolute;
        width: 0.834em;
        height: 0.834em;
        left: calc( -1/3 * 1em );
        background-color: var(--bs-primary);
        border: 0.111em solid #ffffff;
        border-radius: 0.55em;
        z-index: 3;
    }
    /* Education-timeline css. */
    .education {
        height: calc( 1/3 * 100em );
    }
    .August-2019-education {
        bottom: 5%;
    }
    .June-2022-education {
        height: 40%;
    }
    .August-2022-education {
        bottom: 50%;
    }
    .June-2026-education {
        top: 0;
    }
    /* Work-timeline css. */
    .work {
        height: calc( 2/3* 100em );
    }
    .June-2018 {
        bottom: 5%;
    }
    .June-2019 {
        bottom: 20.22%;
    }
    .July-2019 {
        height: 5%;
    }
    .July-2019_2 {
        bottom: 24%;
    }
    .August-2019 {
        height: 5%;
    }       
    .May-2022 {
        bottom: 45%;
    }
    .August-2022 {
        height: 15%;
    }
    .July-2025 {
        bottom: 80%;
    }
/* Hobbies page-specific css */
    .info {
        border: 0.1em solid #aaa;
    }
/* Media breakpoints */
    /* sm >=576px */
    @include media-breakpoint-up(sm) {
        .Opening-card-fade-50 {
            background: rgb(0, 0, 0);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 46%, rgb(0, 0, 0, 1) 50%);
        }
        .Opening-card-fade-60 {
            background: rgb(0, 0, 0);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 46%, rgb(0, 0, 0, 1) 60%);
        }
        .Opening-card-fade-80 {
            background: rgb(0, 0, 0);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 30%, rgb(0, 0, 0, 1) 100%);
        }
        .Opening-card-text-block {
            width: 70%;
        }
        .Opening-card-text-block p {
            font-size: 1.25em;
        }
        .bio-image {
            background-size: 110%;
        }
        .Hobbies-image {
            background: url(../content/bassplaying-tall.png) no-repeat;
            background-size: 100%;
        }
    }
    /* md >=768px */
    @include media-breakpoint-up(md) {
        .bio-image {
            background: url(../content/Working-wide.png) no-repeat;
            background-size: 1200px;
        }
        .AI-image {
            background-size: 1300px;
        }
        .Opening-card-text-block {
            top: 70%;
            width: 60%;
        }
    }
    /* lg >=992px */
    @include media-breakpoint-up(lg) {
        .portfolio-image {
            background-size: 650px;
        }
        .Hobbies-image {
            background: url(../content/bassplaying.png) no-repeat;
            background-size: 750px;
        }
    }
    /* lg >=1200px */
    @include media-breakpoint-up(xl) {
        #root {
            max-width: 1200px;
            position: relative;
            float: left;
            left: 50%;
            transform: translateX(-50%);
        }
        .Opening-card-text-block {
            top: 75%;
        }
    }