nav {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    background-color: lightblue;
    cursor: pointer;
}

nav a {
    padding: 10px;
}

nav a:hover{
    background-color: gold;
    display: block;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.Opening-card-text-block {
    display: block;
}