/* Global CSS */

    * {
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
        background-color: black;
        color: white;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    .content-root {
        position: relative;
        float: left;
        left: 50%;
        transform: translateX(-50%);
    }

    img {
        max-width: 100%;
    }

    p {
        line-height: 1.5em;
        text-indent: 3.5em;
        margin: 0;
    }

    span {
        text-indent: 0;
        display: inline;
    }

    p:first-of-type {
        text-indent: 0;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    h3 {
        font-family: Arial, Helvetica, sans-serif;
    }

    h4 {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Site-wide css @ < 600px. */

    @media (max-width: 600px) {

        .content-root {
            width: 100%;
        }

        p {
            line-height: 1.3em;
            text-indent: 2.5em;
            margin: 0;
            padding: 0;
            font-size: 0.9em;
        }

        article {
            width: 100%;
        }

    }

    /* Site-wide css @ < 1200px. */

    @media (min-width: 1200px) {

        .content-root {
            width: 100%;
            max-width: 1200px;
        }

        article {
            width: 100%;
        }

    }  
    
/* CSS for the page loading system. */

    .inactive {
        display: none;
    }

    .active {
        display: block;
    }

    article.active {
        float: left;
        padding: 1.111em;
    }

/* Opening-card-related css. */

    .Opening-card-portfolio {
        position: relative;
        float: left;
        width: 97%;
        height: 70vw;
        max-height: 650px;
        margin: 0.6em 0.3em;
        background: url('../content/Portrait.jpg') no-repeat;
        background-position: -5.7em -14.3em;
        background-size: 70%;
        box-shadow: 0 -0.4vw 1vw 1vw black inset;
        z-index: 0;
    }

    .Opening-card-fade-portfolio {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 40%, rgb(0, 0, 0, 1) 61%);
        z-index: 1;
    }

    .Opening-card-bio {
        position: relative;
        float: left;
        width: 97%;
        height: 70vw;
        max-height: 650px;
        margin: 0.6em 0.3em;
        background: url('../content/Portrait.jpg') no-repeat;
        background-position: -5.7em -14.3em;
        background-size: 70%;
        box-shadow: 0 -0.4vw 1vw 1vw black inset;
        z-index: 0;
    }

    .Opening-card-fade-bio {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 40%, rgb(0, 0, 0, 1) 61%);
        z-index: 1;
    }

    .Opening-card-AI {
        position: relative;
        float: left;
        width: 97%;
        height: 70vw;
        max-height: 650px;
        margin: 0.6em 0.3em;
        background: url('../content/machine-learning-code.png') no-repeat;
        background-size: 90em;
        background-position: 45%;
        box-shadow: 0 -0.4vw 1vw 1vw black inset;
        z-index: 0;
    }

    .Opening-card-fade-AI {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 42%, rgb(0, 0, 0, 1) 63%);
        z-index: 1;
    }

    .Opening-card-hobbies {
        position: relative;
        float: left;
        width: 97%;
        height: 70vw;
        max-height: 650px;
        margin: 0.6em 0.3em;
        background: url('../content/bassplaying.jpg')  no-repeat;
        background-size: 52%;
        background-position: -3em -9em;
        box-shadow: 0 -0.4vw 1vw 1vw black inset;
        z-index: 0;
    }

    .Opening-card-fade-hobbies {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 32%, rgb(0, 0, 0, 1) 48%);
        z-index: 1;
    }
    
    .Opening-card-text-block {
        position: absolute;
        left: 2%;
        bottom: 6%;
        width: 51%;
        min-width: 650px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.888);
        border-radius: 0.2778em;
        padding: 0.9vw;
        z-index: 3;
    }

    .Opening-card-text-block p {
        padding-bottom: 0.5em;
        margin: 0;
        font-size: 1.2em;
        text-indent: 0;
        font-family: monospace;
    }

    .Opening-card-text-block code {
        display: inline;
        font-size: 1.2em;
        line-height: 1.5em;
        font-family: revert;
    }

    div.Opening-card-AI article.Opening-card-text-block {
        width: 60%;
        font-size: 1.2em;
    }

    .more {display: none;}
    
    /* Site-wide css @ < 1200px. */

    @media (max-width: 1200px) {

        .Opening-card-portfolio {
            background-position: -7vw -17vw;
        }  
        
        .Opening-card-fade-portfolio {
            box-shadow: 0 -1.4vw 2vw 2vw black inset;
        }
        
        .Opening-card-bio {
            background-position: -7vw -17vw;
        }

        .Opening-card-fade-bio {
            box-shadow: 0 -1.4vw 2vw 2vw black inset;
        }

        .Opening-card-fade-AI {
            box-shadow: 0 -1.4vw 2vw 2vw black inset;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 500px, rgb(0, 0, 0, 1) 757px);
        }

        .Opening-card-hobbies {
            background-size: 37.85em;
            background-position: -4vw -9em; 
        }

        .Opening-card-fade-hobbies {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 355px, rgb(0, 0, 0, 1) 555px);
            box-shadow: 0 -1.4vw 2vw 2vw black inset;
        }

        .Opening-card-text-block {
            min-width: 0;
            width: 45em;
            max-width: 68%;
            max-height: 50%;
            padding: 1.1vw;
        }

        div.Opening-card-AI article.Opening-card-text-block {
            max-height: unset;
        }
        
    }

    /* Site-wide css @ < 800px. */

    @media (max-width: 800px) {

        .Opening-card-portfolio {
            max-height: 560px;
        }

        .Opening-card-bio {
            max-height: 560px;
        }

        .Opening-card-AI {
            max-height: 560px;
        }

        .Opening-card-hobbies {
            max-height: 560px;
        }

        .Opening-card-fade-AI {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 62.5%, rgb(0, 0, 0, 1) 94.5%);
        }

        .Opening-card-hobbies {
            background-size: 78%;
            background-position: -2em -9em; 
        }

        .Opening-card-fade-hobbies {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 45.5%, rgb(0, 0, 0, 1) 71.5%);
        }

        .Opening-card-text-block p {
            line-height: 2.9vw;
            font-size: 1.95vw;
        }

        .Opening-card-text-block code {
            line-height: 2.9vw;
            font-size: 1.95vw;
        }

        div.Opening-card-AI article.Opening-card-text-block p{
            font-size: 1.2em;
            line-height: 1.5em;
        }

        div.Opening-card-hobbies article.Opening-card-text-block{
            max-width: 65%;
        }
        
    }

    /* Opening-card-related css @ < 600px. */

    @media (max-width: 600px) {

        .Opening-card-portfolio {
            min-height: 0;
            height: 100vw;
            background-size: 100%;
            background-position: -27vw -25vw;
        }

        .Opening-card-bio {
            height: 100vw;
            background-size: 100%;
            background-position: -27vw -25vw;
        }

        .Opening-card-AI {
            height: 100vw;
            background-position: -410px -65px;
        }

        .Opening-card-hobbies {
            height: 100vw;
            background-size: 100%;
            background-position: -1.4vw -24vw;
        }

        .Opening-card-fade-hobbies {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0, rgb(0, 0, 0, 0.14) 63%, rgb(0, 0, 0, 1) 96.5%);
        }
        
        .Opening-card-text-block {
            left: 1%;
            bottom: 3%;
            width: 91.5%;
            height: auto;
            max-height: unset;
            max-width: unset;
            margin: 2%;
            padding: 3vw;
        }
    
        .Opening-card-text-block p {
            line-height: 4.5vw;
            font-size: 3.5vw;
        }

        .Opening-card-text-block code {
            font-size: 3.5vw;
            line-height: 4.5vw;
            font-family: revert;
        }

        div.Opening-card-hobbies article.Opening-card-text-block{
            max-width: unset;
        }

        div.Opening-card-AI article.Opening-card-text-block p{
            font-size: 3.5vw;
            line-height: 4.5vw;
        }
        
        button.read-more-button {
            width: 30%;
            cursor: pointer;
            padding: 0.8vw 0;
            background-color: #ffffff;
            color: #000000;
            font-size: 4vw;
            border-radius: 1.25vw;
            border: none;
        }

        button.read-more-button:hover {
            background-color: rgb(0, 153, 255);
            color: rgb(255, 255, 255);
            text-shadow: #000000 0.15vw 0.15vw;
        }

        button.read-more-button text:hover {
            cursor: pointer;
        }

        button.highlighted {
            background-color: rgb(0, 153, 255);
            color: rgb(255, 255, 255);
            text-shadow: #000000 0.15vw 0.15vw;
        }

    }

/* Nav-bar-related css. */

    nav {
        position: absolute;
        left: 70%;
        top: 20%;
        display: flex;
        flex-direction: column;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.808);
        border-radius: 0.2778em;
        padding: 1.111em;
        padding-right: 0;
        z-index: 2;
    }

    nav h2 {
        font-size: 1.111em;
        margin-top: 0;
    }

    nav a {
        color: white;
        padding: 0.55em;
        font-size: 1.111em;
        cursor: pointer;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    nav a:hover {
        background-color: white;
        color: black;
        display: block;
    }

    nav a text:hover {
        cursor: pointer;
    }

    .cv:focus-visible {
        background-color: white;
        color: black;
        display: block;
    }

    /* Nav-bar-related css @ < 600px. */

    @media (max-width: 600px) {

        nav {
            left: 55%;
            top: 2%;
            padding-left: 4vw;
            padding-right: 4vw;
            padding-bottom: 3.5vw;
        }

        nav h2 {
            font-size: 4vw;
        }

        nav a {
            padding: 1.5vw;
            font-size: 4vw;
        }

        nav.test {
            left: 3%;
            top: 5%;
            width: 91.5%;
            flex-direction: row;
            padding: 1.5vw;
        }

        nav.test h2 {
            display: none;
        }

        nav.test a {
            padding: 1.5vw;
            text-wrap: nowrap;
        }

    }

/* Portfolio page-specific css. */

    h4.portfolio-title {
        font-size: 2.1em;
        text-align: center;
        padding: 1.111em;
    }

    div.portfolio-container {
        display: table;
    }

    div.portfolio-project {
        float: left;
        width: 33.3%;
    }

    div.portfolio-project img {
        width: 100%;
        padding: 1.111em;
        padding-bottom: 0;
    }

    div.portfolio-project a {
        visibility: hidden;
        width: inherit;
    }

    h4.portfolio-project-AI{
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1.111em;
        padding-right: 1.111em;
    }

    h4.portfolio-project-AI a img {
        visibility: visible;
        position: relative;
        float: right;
        top: -0.5em;
        height: 2em;
        width: auto;
        padding: 0;
    }

    h4.portfolio-project-Esports{
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1.111em;
        padding-right: 1.111em;
    }

    h4.portfolio-project-Esports a img {
        visibility: visible;
        position: relative;
        float: right;
        height: 3.5em;
        width: auto;
        top: -1.1em;
        padding: 0;
    }

    h4.portfolio-project-wall-calculator{
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1.111em;
        padding-right: 1.111em;
    }

    h4.portfolio-project-wall-calculator a img {
        position: relative;
        visibility: visible;
        float: right;
        height: 2em;
        width: auto;
        top: -0.5em;
        padding: 0;
        padding-left: 0.55em;
    }

    h4.portfolio-project-portfolio-website{
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1.111em;
        padding-right: 1.111em;
    }

    h4.portfolio-project-portfolio-website a img {
        position: relative;
        visibility: visible;
        float: right;
        height: 2em;
        width: auto;
        top: -0.5em;
        padding: 0;
        padding-left: 0.55em;
    }

    div.portfolio-project p {
        font-size: 1em;
        padding: 1.111em;
        padding-top: 0;
        padding-bottom: 0.25em;
        margin: 0;
    }

    /* Portfolio page-specific css @ < 1200px. */

    @media (max-width: 1200px) {

        h4.portfolio-title {
            margin: 0 0 0.25em 0;
            padding: 0 0 0.5em 0;
        }
        
        div.portfolio-project {
            width: 50%;
            padding-bottom: 1em;
        }

        div.portfolio-project h4 {
            padding: 0;
        }

        div.portfolio-project p {
            padding: 0;
            padding-right: 2.2em;
        }

        div.portfolio-project img {
            padding: 0;
        }

        div.portfolio-project h4.portfolio-project-AI {
            padding-right: 2.2em;
        }

        div.portfolio-project img.portfolio-project-AI {
            padding-right: 2.2em;
        }

        div.portfolio-project h4.portfolio-project-portfolio-website {
            padding-right: 2.2em;
        }

        div.portfolio-project img.portfolio-project-portfolio-website {
            padding-right: 2.2em;
        }

        #Esports {
            float: right;
        }

        #wall-calculator {
            float: right;
        }

        div.portfolio-project h4.portfolio-project-Esports {
            font-size: 0.9em;
        }
    
    }

    /* Portfolio page-specific css @ < 800px. */

    @media (max-width: 800px) {

        h4.portfolio-title {
            font-size: 200%;
            margin: 0.25em 0;
            padding: 0.5em 0;
        }

        div.portfolio-project {
            float: left;
            width: 100%;
        }

        div.portfolio-project h4 {
            padding: 0;
        }

        div.portfolio-project img {
            padding: 0.9em 0 0 0;
        }

        div.portfolio-project p {
            font-size: 0.9em;
            padding: 1em 0;
            padding-top: 0;
            padding-bottom: 0.25em;
        }

        div.portfolio-project h4.portfolio-project-AI {
            padding-right: 0;
        }

        div.portfolio-project img.portfolio-project-AI {
            padding-right: 0;
        }

        div.portfolio-project h4.portfolio-project-portfolio-website {
            padding-right: 0;
        }

        div.portfolio-project img.portfolio-project-portfolio-website {
            padding-right: 0;
        }

    }

/* Bio page-specific css. */

    h3.bio {
        font-size: 1em;
    }

    p.bio {
        float: left;
        margin: 0;
        font-size: 1em;
        }

    div.career-container {
        float: left;
        width: 100%;
        margin: 1.5em 0;
    }

    /* Education-timeline css. */

        section.education-timeline {
            position: relative;
            float: left;
            width: 33.34em;
            height: 33.34em;
            margin: 0;
            margin-bottom: 1.5em;
            font-size: 1em;
        }

        section.education-timeline::after {
            content: '';
            position: absolute;
            width: 0.111em;
            min-width: 2.96px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 23.12em;
        }

        h4.education{
            width: 20em;
        }

        div.education-container {
            position: relative;
            float: left;
            margin-top: 1em;
            width: 20em;
        }

        div.education-container p {
            text-indent: 0;
        }

        div.dates-education {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 9em;
            left: 23.12em;
        }

        div.August-2019-education {
            bottom: 5%;
        }

        div.June-2022-education {
            height: 40%;
        }

        div.August-2022-education {
            bottom: 50%;
        }

        div.June-2026-education {
            top: 0;
        }

        div.dates-education p {
            position: relative;
            margin: 0;
            padding: 0;
            text-align: right;
            line-height: 1em;
            text-indent: 0;
        }

        div.dates-education::before {
            content: '';
            position: absolute;
            width: 0.111em;
            min-width: 2.96px;
            background: top rgb(0, 153, 255);
            top: 0;
            bottom: 0.5em;
            left: 0em;
            z-index: 2;
        }

        div.dates-education p::before {
            content: '';
            position: absolute;
            width: 0.834em;
            height: 0.834em;
            left: -0.44em;
            background-color: rgb(0, 153, 255);
            border: 0.111em solid #ffffff;
            border-radius: 0.55em;
            z-index: 3;
        }

    div.Education-info {
        position: relative;
        float: right;
        width: 33.34em;
        font-size: 1em;
    }

    div.Work-info {
        position: relative;
        clear: left;
        float: left;
        width: 33.34em;
        font-size: 1em;
    }

    /* Work-timeline css. */

        section.work-timeline {
            position: relative;
            float: right;
            clear: right;
            width: 33.34em;
            height: 66.68em;
            margin: 0 0;
            margin-top: 1.5em;
            font-size: 1em;
        }

        section.work-timeline::before {
            content: '';
            position: absolute;
            width: 0.1111em;
            min-width: 2.96px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            top: 0;
            bottom: 0;
            right: 26.96em;
        }

        h4.career{
            position: relative;
            float: right;
            width: 20em;
        }

        div.work-container {
            position: relative;
            float: right;
            margin-top: 1em;
            width: 20em;
        }

        div.work-container p {
            text-indent: 0;
        }

        div.work-container h4 {
            text-wrap: nowrap;
        }

        div.dates {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 9em;
            left: -3.4em;
        }

        div.June-2018 {
            bottom: 8%;
        }

        div.June-2019 {
            bottom: 28.6%;
        }

        div.July-2019 {
            height: 5%;
        }

        div.July-2019_2 {
            bottom: 32.11%;
        }

        div.August-2019 {
            height: 5%;
        }       

        div.May-2022 {
            bottom: 65%;
        }

        div.August-2022 {
            height: 20%;
        }

        div.dates p {
            position: relative;
            bottom: 0.25em;
            margin: 0;
            text-align: left;
            text-indent: 0;
            line-height: 1em;
        }

        div.dates::after {
            content: '';
            position: absolute;
            width: 0.111em;
            min-width: 2.96px;
            background: top rgb(0, 153, 255);
            left: 9.595em;
            top: 0;
            bottom: 0.5em;
            z-index: 2;
        }

        div.dates p::after {
            content: '';
            position: absolute;
            width: 0.834em;
            height: 0.834em;
            right: -1.18em;
            top: 0.25em;
            background-color: rgb(0, 153, 255);
            border: 0.11em solid #ffffff;
            border-radius: 0.55em;
            z-index: 3;
        }

    p.bio a {
        color: rgb(0, 153, 255);
    }

    p.bio a:hover {
        color: #ffffff;
    }

    /* Bio page-specific css @ < 1200px. */

    @media (max-width: 1200px) {

        section.education-timeline {
            width: 100%;
        }

        section.education-timeline::after {
            left: 70%;
        }

        div.education-container {
            width: 60%;
        }

        h4.education{
            width: 60%;
            margin: 0;
            margin-bottom: 1em;
        }

        div.dates-education {
            width: 8em;
            left: 70%;
        }
        
        div.Education-info {
            float: left;
            width: 100%;
        }

        div.Work-info {
            width: 100%;
        }

        section.work-timeline {
            float: left;
            width: 100%;
            height: 66.68em;
            margin: 1.111em 0;
        }

        section.work-timeline::before {
            display: none;
        }

        section.work-timeline::after {
            content: '';
            position: absolute;
            width: 0.111em;
            min-width: 2.03px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 70%;
        }

        h4.career{
            float: left;
            width: 60%;
            margin: 0;
            margin-bottom: 1em;
        }

        div.work-container {
            float: left;
            width: 60%;
        }

        div.work-container h4 {
            text-wrap: initial;
        }

        div.dates {
            width: 8em;
            left: 70%;
        }

        div.July-2019_2 {
            bottom: 32.1%;
        }

        div.dates::after {
            display: none;
        }

        div.dates::before {
            content: '';
            position: absolute;
            width: 0.111em;
            min-width: 2.03px;
            background: top rgb(0, 153, 255);
            top: 0;
            bottom: 0.5em;
            left: 0em;
            z-index: 2;
        }

        div.dates p {
            text-align: right;
        }

        div.dates p::after {
            display: none;
        }

        div.dates p::before {
            content: '';
            position: absolute;
            width: 0.834em;
            height: 0.834em;
            left: -0.44em;
            background-color: rgb(0, 153, 255);
            border: 0.111em solid #ffffff;
            border-radius: 0.55em;
            z-index: 3;
        }
        
    }

    /* Bio page-specific css @ < 600px. */

    @media (max-width: 600px) {

        h3.bio {
            font-size: 0.9em;
        }

        section.education-timeline {
            font-size: 0.8em;
        }

        div.dates-education p::before {
            left: -0.4em;
        }

        div.Education-info {
            font-size: 0.9em;
        }

        div.Work-info {
            font-size: 0.9em;
        }

        section.work-timeline {
            font-size: 0.8em;
        }

        div.July-2019_2 {
            bottom: 32.25%;
        }
                
        p.bio {
            line-height: 1.3em;
            font-size: 0.81em;
        }

    }

/* AI page-specific css */

    h3.AI {
        font-size: 0.95em;
    }

    /* AI page-specific css @ < 600px. */

    @media (max-width: 600px) {

        h3.AI {
            font-size: 0.9em;
            margin: 0.9em 0;
        }
        
    }

/* Hobbies page-specific css */

    h3.hobbies {
        font-size: 0.95em;
    }

    h4.hobbies {
        font-size: 0.95em;
    }

    div.info-hobby-left {
        float: left;
        width: 35%;
        padding: 0.5em 1em 0.5em 0;
    }

    div.container {
        position: relative;
        float: left;
        width: 100%;
        padding: 0.5em;
        border: 0.1em solid #aaa;
        z-index: 1;        
    }

    h4.info-hobby-left-title {
        margin: 0.5em 0 1em 0;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        font-size: 0.9em;
    }

    p.info-hobby-left-text {
        padding: 0;
        text-align: left;
        font-size: 0.9em;
        line-height: 1.4em;
    }

    /* Hobbies page-specific css @ < 600px. */

    @media (max-width: 600px) {

        h3.hobbies {
            font-size: 0.9em;
            margin: 0.9em 0;
        }

        div.info-hobby-left {
            width: 100%;
            font-size: 0.8em;
            padding: 0.5em 0;
        }

        h4.info-hobby-left-title {
            margin: 0.25em 0 0.5em 0;
            text-align: left;
            font-size: 0.9em;
        }

        button.read-more-other-button {
            width: fit-content;
            cursor: pointer;
            margin-top: 0.5em;
            padding: 0.1em 0.75em;
            font-size: 0.9em;
            line-height: 1.5em;
            background-color: #ffffff;
            color: #000000;
            border-radius: 1.25vw;
            border: none;
        }

        button.read-more-other-button:hover {
            background-color: rgb(0, 153, 255);
            color: rgb(255, 255, 255);
            text-shadow: #000000 0.15vw 0.15vw;
        }

        button.highlighted-more {
            background-color: rgb(0, 153, 255);
            color: rgb(255, 255, 255);
            text-shadow: #000000 0.15vw 0.15vw;
        }
    }

/* Footer CSS */

    footer {
        position: relative;;
        float: left;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.5em 1.5em;
        padding-top: 3.3em;
        margin-top: 1.111em;
        border-top: 0.1em inset #ffffff;
    }

    address {
        padding-top: 1.111em;
        float: left;
        width: fit-content;
    }

    footer p {
        text-indent: 0;
    }

    footer a {
        color: #ffffff;
    }

    footer a:hover {
        color: rgb(0, 153, 255);
    }
            
    footer nav {
        left: 0%;
        width: 100%;
        top: 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.57em;
    }

    footer nav h2 {
        margin: 0;
        line-height: 1.32em;
    }

    footer nav a {
        padding: 1.111em;
    }

    footer nav a:hover {
        display: inline;
        background-color: white;
        color: black;
    }

    /* Footer-related css @ < 600px. */

    @media (max-width: 600px) {

        footer {
            padding: 6vw 1.5vw 1.5vw 1.5vw;
            margin-top: 1.111em;
            font-size: 0.76em;
        }

        footer nav {
            top: 0;
            flex-direction: row;
            padding: 1.5vw;
            font-size: 1.5vw;
        }

        footer nav a {
            padding: 1.5vw;
        }

        footer address {
            font-size: 3vw;
        }

    }